.chatlistItem {
    cursor: pointer;
    height: 70px;
    display: flex;
    align-items: center;
}

.chatlistItem:hover {
    background-color: #f5f5f5;
}

.chatlistItem.active {
    background-color: #ebebeb;
}

.chatlistItem--avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;
}

.chatlistItem--lines {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding-right: 1rem;
    margin-left: 1rem;

    /* correcao dos 3 pontos */
    flex-wrap: wrap;
    min-width: 0;
}

.chatlistItem--line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.chatlistItem--name {
    font-size: 17px;
    color: #000;
}

.chatlistItem--date {
    font-size: 12px;
    color: #999;
}

.chatlistItem--lastMsg {
    font-size: 14px;
    color: #999;
    display: flex;
    width: 100%;
}

.chatlistItem--lastMsg p {
    /* 3 pontos no p */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin: 0;
}
